@charset "utf-8";
/* CSS Document */
body {
	padding: 20px;
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	color: #111;
}

p, ul {
	margin-bottom: 10px;
}

ul {
	margin-left: 20px;
}
hi {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}
a:link, a:visited {
	color: #03C;
}
h3 {
	font-size: 18px;
	margin-left: 20px;
}

